@import url(https://fonts.googleapis.com/css?family=Montserrat);
html,
body, h1, h2, p, img {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  background-image: url('../videos/bg1.jpg');
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url('../videos/bg2.jpg');
}
.background:nth-child(3) {
  background-image: url('../videos/bg3.jpg');
}

.background:nth-child(4) {
  background-image: url('../videos/bg4.jpg');
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 4;
}

.background:nth-child(2) {
  z-index: 3;
}

.background:nth-child(3) {
  z-index: 2;
}

.background:nth-child(4) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
/*
  Loading animation
*/

#preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a3cbff;
  z-index: 999;
  margin: auto;
}

.spinner,.spinner-inner{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 9px solid yellow;
  border-color: transparent yellow;
  margin: auto;
}

.spinner{
  width: 85px;
  height: 85px;
  -webkit-animation: spin 2.2s linear 0s infinite normal;
  -moz-animation: spin 2.2s linear 0s infinite normal;
  animation: spin 2.2s linear 0s infinite normal
}

.spinner-inner{
  width: 40px;
  height: 40px;
  -webkit-animation: spinback 1.2s linear 0s infinite normal;
  -moz-animation: spinback 1.2s linear 0s infinite normal;
  animation: spinback 1.2s linear 0s infinite normal;
}
@-webkit-keyframes spin{
  from{
    -webkit-transform: rotate(0)
  }
  to{
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes spinback{
  from{
    -webkit-transform: rotate(0)
  }
  to{
    -webkit-transform: rotate(-360deg)
  }
}
/** Navigation **/
div#navbar{
  position: absolute;
  width: 100%;
  top: 6%;
  right: 5%;
}
ul {
  overflow: none;
  list-style-type: none;
}
li {
  height: 5px;
  float: right;
  padding: 0 9px;
  cursor: pointer;
}
li a {
  text-decoration: none;
  color: #a3cbff;
  font: 23px/1 'Futura', Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

li a:hover {
  color: yellow;
}

/** Home Button **/
img#logo {
  z-index: 999;
  position: absolute;
  top: 4%;
  left: 6%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
}
/** Intro animation **/
.intro {
  font-size: 76px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #a3cbff;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 25ch;
}
.typewriter{
  overflow: hidden;
  border-right: .08em solid yellow;
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 3s steps(44, end),
    blink-caret .5s steps(44) infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 25ch }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: yellow }
}

/* About Page */
img#portrait {
  border-radius: 50%;
  height: 400px;
  width: 400px;
}
/* Footer */
.footer #button{
	width:45px;
	height:45px;
	border: yellow 12px solid;
	border-radius: 45px;
	margin: 0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:45px;
	height:45px;
	border: yellow 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 4.6em;
    overflow:hidden;
    margin: 0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
	background: #a3cbff;
}
.footer #cont{
  position:relative;
	height: 100%;
  width: auto;
	margin: 0 auto;
}
.footer_center{
	width:100%;
  height: 100%;
  float: left;
  text-align:center;
}
.footer h1{
  padding-top: 0.5em;
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
  color: yellow;
}
.footer p {
  color: yellow;
  float: right;
  padding-right: 2em;
  padding-top: 0.8em;
  text-transform: none;
}
img#mailLogo {
  height: 45px;
  width: 60px;
  border-radius: 50%;
  float: left;
}
p#email {
  float: left;
}
