/*
  Globals
*/
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Futura', Arial, sans-serif;
}
body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/*
  Loading animation
*/

#preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a3cbff;
  z-index: 999;
  margin: auto;
}

.spinner,.spinner-inner{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 9px solid yellow;
  border-color: transparent yellow;
  margin: auto;
}

.spinner{
  width: 85px;
  height: 85px;
  -webkit-animation: spin 2.2s linear 0s infinite normal;
  -moz-animation: spin 2.2s linear 0s infinite normal;
  animation: spin 2.2s linear 0s infinite normal
}

.spinner-inner{
  width: 40px;
  height: 40px;
  -webkit-animation: spinback 1.2s linear 0s infinite normal;
  -moz-animation: spinback 1.2s linear 0s infinite normal;
  animation: spinback 1.2s linear 0s infinite normal;
}
@-webkit-keyframes spin{
  from{
    -webkit-transform: rotate(0)
  }
  to{
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes spinback{
  from{
    -webkit-transform: rotate(0)
  }
  to{
    -webkit-transform: rotate(-360deg)
  }
}

/*
  Content
*/
div#content, #content2, #content3{
  position: sticky;
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div#content {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url("../videos/bg1.jpg");
  background-size: 100% 100%;
}
div#content2 {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url("../videos/bg2.jpg");
  background-size: 100% 100%;
}
div#content3 {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) ), url("../videos/bg3.jpg");
  background-size: 100% 100%;
}
/** Intro animation **/
.js-type-writer {
  font-size: 64px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #a3cbff;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 25ch;
}

.js-type-writer > span {
  border-right: .08em solid yellow;
  animation: caret 0.9s steps(44) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/** About Page **/
.center {
  width: 200vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

img#portrait {
  position: absolute;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}
div#one{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 500px;
  height: 700px;
  left: 23%;
  top: 17%;
  transform: translateX(-50%);
}
div#oneInfo{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  top: 10%;
}
div#oneInfo p {
  color: #a3cbff;
  text-align: justify;
  text-justify: inter-word;
  padding: 20px;
  font-size: 24px;
}
#one h1 {
  color: yellow;
  position: absolute;
}
span#link {
  color: yellow;
  text-decoration: none;
}
div#two {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 500px;
  height: 700px;
  top: 17%;
  right: 25%;
  transform: translateX(50%);
}
div#twoInfo{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  top: 5%;
}
#two h1 {
  color: yellow;
  position: absolute;
}
/** Navigation **/
div#navbar{
  position: absolute;
  width: 100%;
  top: 6%;
  right: 5%;
}
ul {
  overflow: none;
  list-style-type: none;
}
li {
  height: 5px;
  float: right;
  padding: 0 9px;
}
li a {
  text-decoration: none;
  color: #a3cbff;
  font: 23px/1 'Futura', Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

li a:hover {
  color: yellow;
}

/** Home Button **/
img#logo {
  z-index: 999;
  position: absolute;
  top: 6%;
  left: 6%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
