
/*
  Globals
*/

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Futura', Arial, sans-serif;
}

/*
  Content
*/
div#content, #content2, #content3{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px;
  background: #fcfeff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -3px 0 6px #4a5562;
  -webkit-box-shadow: -3px 0 6px #4a5562;
  box-shadow: -3px 0 6px #4a5562;
}
div#content {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url("../videos/bg1.jpg");
  background-size: 100% 100%;
}
div#content2 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../videos/bg2.jpg");
  background-size: 100% 100%;
}
div#content3 {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3) ), url("../videos/bg3.jpg");
  background-size: 100% 100%;
}
/** Intro animation **/
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.intro {
	font: bold 300% Helvetica, Arial, sans-serif;
	border-right: .1em solid yellow;
	width: 25ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 4s steps(44, end),
	blink-caret .2s step-end infinite alternate;
}

div#center {
  color: #a3cbff;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  top: 300px;
  margin: 0 auto;
  max-width: 1150px;
}

/** About Page **/
.link {
  color: yellow;
}
div#portraitdiv {
  position: relative;
  top: 15.5em;
  left: 3em;
  width: 300px;
  border-radius: 50%;
  margin: 0 auto;
}
img#portrait {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
}
div#about {
  position: relative;
  margin: 0 auto;
  bottom: 6em;
  max-width: 500px;
  right: 440px;
  color: #a3cbff;
  font-size: 19px;
}
div#about h1 {
  color: yellow;
}
div#details {
  position: relative;
  bottom: 28em;
  margin: 0 auto;
  max-width: 200px;
  left: 21em;
  color: #a3cbff;
  font-size: 19px;
}
div#details h1 {
  color: yellow;
}
div#details h2 {
  color: #4d9aff;
}
/** Navigation **/

ul {
  overflow: none;
  list-style-type: none;
}
li {
  height: 5px;
  float: right;
  padding: 0 9px;
}
li a {
  text-decoration: none;
  color: #a3cbff;
  font: 23px/1 'Futura', Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

li a:hover {
  color: yellow;
}

/** Home Button **/
img#logo {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
